name: Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check:
    runs-on: ubuntu-latest
    name: test with ${{ matrix.py }}
    strategy:
      fail-fast: false
      matrix:
        py:
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: ${{ matrix.py }}
      - name: Install tox
        run: python -m pip install -r .devcontainer/requirements.txt
      - name: Run test suite
        run: tox -e py

  e2e-tests:
    runs-on: ubuntu-latest
    name: run pre-commit try-repo on all files
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.14"
      - name: Install pre-commit
        run: python -m pip install pre-commit
      - name: Run pre-commit to show excluded files
        run: SKIP=check-jira-reference-in-todo,check-ownership,go-revive,go-fmt,go-imports pre-commit try-repo . --all-files --verbose
