name: Create Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+' # Matches 1.2.3

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Update version in pyproject.toml
        run: |
          export VERSION=${{ github.ref_name }}
          echo "Using version: $VERSION"
          grep "version = \"$VERSION\"" pyproject.toml || (echo "Version mismatch in pyproject.toml vs the tag name" && exit 1)
      - uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        with:
          draft: false
          prerelease: false
          generate_release_notes: true
